.hamburger__menu {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
}

.hamburger__line {
  width: 30px;
  height: 3px;
  background-color: #e5e5e5;
  margin: 5px 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 9998;
}

.sideNav__links {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sideNav__links:hover {
  color: #e5e5e5;
}
