.wrapper {
  max-width: 80%;
  margin: 0 auto;
  color: #e5e5e5;
  text-align: justify;
  letter-spacing: 1px;
}

.section__header {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  background-color: #111;
  border-radius: 50px;
  padding-left: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

.section__tripleColumn {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

.section__gallery {
  overflow: hidden;
}

.section__images {
  max-width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  padding-bottom: 20px;
}

.section__images:hover {
  transform: scale(1.1);
}

.section__heading {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.section__content {
  padding: 20px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  35% {
    opacity: 1;
  }
}
